# Ignore Python virtual environment
env/
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment files
*.env

# Ignore Django static/media (optional if you auto-generate these)
staticfiles/
media/

# Ignore SQLite database (if using SQLite locally)
db.sqlite3

# Ignore macOS system files
.DS_Store

# Ignore IDE/editor files
.vscode/
.idea/
